{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    {% if form is not null and form is not empty %}
        <div style="width: 400px;padding: 10px;"
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}