<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSV List</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Level of education</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            {{ ROWS }}
        </table>
    </div>
</body>
</html>