<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSV List</title>
</head>
<body>
    <div class="container">
        {{ TABLE }}
        <hr>
        <h4>Who has the highest salary and how much is it?</h4>
        <p>{{ Q1 }}</p>
        <h4>How old is the youngest employee?</h4>
        <p>{{ Q2 }}</p>
        <h4>What is the average age?</h4>
        <p>{{ Q3 }}</p>
        <h4>Which one is the most popular position?</h4>
        <p>{{ Q4 }}</p>
        <h4>What is the ratio between male and female employees?</h4>
        <p>Total: {{ Q5A }}</p>
        <p>Male: {{ Q5B }}%</p>
        <p>Female: {{ Q5C }}%</p>
        <hr>
        {{ TABLE_NEW }}
        <h4>Generate the union</h4>
        <p>{{ Q6 }}</p>
        <h4>Generate the intersection</h4>
        <p>{{ Q7 }}</p>
    </div>
</body>
</html>